/.Estado.java._trace
/.Estado.xtendbin
/.EstadoAbierto.java._trace
/.EstadoCerrado.java._trace
/.Lista.java._trace
/.Lista.xtendbin
/.ListaTest.java._trace
/.ListaTest.xtendbin
/.Usuario.java._trace
/.Usuario.xtendbin
/Estado.java
/EstadoAbierto.java
/EstadoCerrado.java
/Lista.java
/ListaTest.java
/Usuario.java
